<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="me.rds.angrydictionary"
    android:versionCode="1" android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="21" tools:overrideLibrary="me.grantland.widget" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".app.WidgetApp" android:allowBackup="true"
        android:icon="@drawable/ic_launcher" android:label="@string/app_name"
        android:theme="@style/AppTheme" tools:replace="android:allowBackup">
        <activity android:name=".ui.activities.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.PreferencesActivity"
            android:launchMode="singleInstance"
            android:icon="@drawable/ic_prefs" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.BinaryClockWidget" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="me.rds.angrydictionary.time" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/wdg_binary" />
        </receiver>

        <service android:name=".widget.ClockService" />
        <service android:name=".services.media.MediaIntentService" />
        <service android:name=".services.network.UpdateDBService" />

        <meta-data android:name="db_version" android:value="4" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="318fabda38986f1660e1e2932d4bf49d4e07f222" />
    </application>

</manifest>